<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    <h1>Create Order</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ form.order_id(placeholder="666") }}
            {{ form.status(class_="form-control", required="") }}
        <p>{{ form.submit() }}</p>
    </form>
    </body>
</html>