<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    <h1>Create Order</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ form.client(placeholder="name@example.com") }}
            {{ form.address(placeholder="Moscow, Tverskaya st, 5") }}
            {{ form.contacts(placeholder="office num = 8 800 555 35 35") }}
            {{ form.contact_number(placeholder="80000000000") }}
            {{ form.price(placeholder="1000") }}
            {{ form.status(class_="form-control", required="") }}
        <p>{{ form.submit() }}</p>
    </form>
    </body>
</html>