<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{% for order in orders %}
<div class="row">
    {{ order.id }}
    {{ order.client }}
    {{ order.address }}
    {{ order.contacts }}
    {{ order.contact_number }}
    {{ order.price }}
    {{ order.status }}
</div>
{% endfor %}-->
</body>
</html>